.head-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.head-image{
    width: auto;
}

.head-image-expanded {
    min-width: 230px;
    max-width: 250px;
    transition: max-width 1s min-width 1s;
}

.head-image-contracted {
    min-width: 30px;
    max-width: 50px;
    transition: max-width 1s min-width 1s;
}

.head-text{
    font-family: 'Hachi Maru Pop', cursive;
    margin: 5px 0 15px 0;
}

.head-text-expanded {
    font-size: 35px;
    transition: font-size 1s;
}

.head-text-contracted {
    font-size: 15px;
    transition: font-size 1s;
}